{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <h1>Hello world</h1>

    <div id="articles">
        {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <h2>{{ article.text }}</h2>
        <p>
            <a href="{% url 'article_detail' article.pk %}">Подробнее...</a>
        </p>
        <p>Favorite count {{ article.users.count }}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'to_favorite' article.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form favorite_form %}
                {% bootstrap_button button_type="submit" content='Добавить в избранное' %}
            </form>
        {% endif %}
    {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
